<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Motivational Quote Wall</title>

  <!-- external CSS link -->
  <link rel="stylesheet" href="/style.css"/>

</head>
<body>
  <h1 data-position="header">Motivational Quote  Wall</h1>

  <section data-position="add-quote">
    <h2>Add quote</h2>

    <form action="/quotes" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="quote" name="quote" />
      <button type="submit">Submit</button>
    </form>
  </section>

  <section data-position="update-quote">
    <div>
      <h2>Inject some Eric Thomas!</h2>
      <p>Can't think of a quote? Let's add a random quote from Dr.Eric Thomas!</p>
      <button id="update-button">Random quote</button>
    </div>
  </section>

  <section data-position="delete-quote">
    <div>
      <h2>Remove all quotes by Dan Lok !</h2>
      <p>You found a Dan Lok quote?! Hurry and delete it!</p>
      <button id="delete-button">Delete a Dan Lok quote</button>
    </div>
    <div id="message"></div>
  </section>

  <section data-position="quotes">
    <h2>Quotes</h2>

    <ul class="quotes">
      <% for(var i = 0; i < quotes.length; i++) {%>
      <li class="quote">
        <span><%= quotes[i].name %></span>:
        <span><%= quotes[i].quote %></span>
      </li>
      <% } %>
    </ul>
  </section>

  <script src="/main.js"></script>
</body>

<footer data-position="footer">
  <section id="footerRight">
    <a href="https://github.com/mahadnifsey" aria-label="Github" target="_blank" rel="noreferrer"><svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><title>GitHub</title><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg></a>
    <p>&copy; 2022 Designed and built by by Mahad Nifsey</p>
  </section>

</footer>

</html>